{% extends 'base.html' %}
{% block title %} - Team's {% endblock %}
{% block content %}
{% for pc in portfolio_content %}}
  <section class="page-section clearfix">
            <div class="container">
                <div class="intro">

                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">{{ pc.name }}</span>
                            <!--span class="section-heading-lower">Worth Drinking</span-->
                        </h2>
                        <p class="mb-3">
                            {{pc.bio}}
                        </p>

                    </div>
                  <img id="image-id" class="product-item-img d-flex rounded img-fluid mb-3 mb-lg-0" style=" width: 450px; height: 500px" src="{{ pc.pic }}" alt="">
                </div>
            </div>
        </section>
{%endfor%}
{%endblock%}
